body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: ridge;
  border-width: 1rem;
  border-color: black;
  box-shadow: 5px 5px 15px -5px rgba(255, 51, 207,1);
  height: 110vh;
  text-align: center;

}

h1 {
  font-size: 9rem;
  color: #3289a8;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 1rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

/* pc */
@media (min-width: 1051px) and (max-width: 4050px) {
  body {
    height: 118vh;
    background-size: cover;
    height: 100vh;
    border-style: ridge;
    border-width: 1rem;
    border-color: black;

  }
  h1 {
    font-size: 3rem;
    border-style: dashed;
    border-width: 1rem;
    background-color: black;
    opacity: 0.9;
    border-color: #a83263;
  }
  .set {
    margin-top: 1rem;
    border-style: inset;
    border-color: #626664;
    border-width: 1rem;
    background-color: black;
    opacity: 0.9;
  }
  .row1, .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drum {
    width: 10rem;
    height: 10rem;
  }

  .w {
    background-image: url("images/tom1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .a {
    background-image: url("images/tom2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .s {
    background-image: url("images/tom3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .d {
    background-image: url("images/tom4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .j {
    background-image: url("images/snare.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .k {
    background-image: url("images/crash.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .l {
    background-image: url("images/kick.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer {
    display: none;
    /* font-size: 2rem;
    color: blue;
    font-weight: bold;
    margin-bottom: 50rem; */

  }
}

/* tablet */
@media (min-width: 1001px) and (max-width: 1050px) {
  body {
    height: 118vh;
  }
  h1 {
    border-style: dashed;
    border-width: 2rem;
    background-color: black;
    opacity: 0.9;
    border-color: #a83263;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 5px 5px 15px 1px rgba(252, 32, 3,1);

  }
  .set {
    margin-top: 15rem;
    border-style: solid;
    border-width: 2rem;
    background-color: black;
    opacity: 0.9;
    box-shadow: 5px 5px 15px -1px rgba(240, 12, 12,1);
  }
  .row1, .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drum {
    width: 15rem;
    height: 15rem;
  }

  .w {
    background-image: url("images/tom1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .a {
    background-image: url("images/tom2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .s {
    background-image: url("images/tom3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .d {
    background-image: url("images/tom4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .j {
    background-image: url("images/snare.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .k {
    background-image: url("images/crash.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .l {
    background-image: url("images/kick.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer {
    font-size: 5rem;
    color: blue;
    font-weight: bolder;
    padding-bottom: 5rem;
  }
}

/* mobile */
@media (min-width: 0px) and (max-width: 1000px) {
  h1 {
    border-style: dashed;
    border-width: 2rem;
    background-color: black;
    opacity: 0.9;
    border-color: #a83263;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 5px 5px 15px 1px rgba(252, 32, 3,1);

  }
  .set {
    margin-top: 20rem;
    border-style: solid;
    border-width: 2rem;
    background-color: black;
    opacity: 0.9;
    box-shadow: 5px 5px 15px -1px rgba(240, 12, 12,1);
  }
  .row1, .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drum {
    width: 18rem;
    height: 18rem;
  }

  .w {
    background-image: url("images/tom1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .a {
    background-image: url("images/tom2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .s {
    background-image: url("images/tom3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .d {
    background-image: url("images/tom4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .j {
    background-image: url("images/snare.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .k {
    background-image: url("images/crash.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .l {
    background-image: url("images/kick.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer {
    font-size: 5rem;
    color: blue;
    font-weight: bolder;
    padding-bottom: 5rem;
  }

}
